@model WindySong.NoteBook.App.ViewModels.Front.IndexModel
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>@ViewData["SiteName"]</title>
    <meta charset="utf-8">
    <meta name="keywords" content="@ViewData["SiteKey"]">
    <meta name="description" content="@ViewData["SiteDes"]">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="~/Front/image/favicon.ico">
    <script src="~/Front/js/jquery-1-10-2.min.js"></script>
    <script src="~/Front/js/jquery-ui.js"></script>
    <script src="~/Front/js/plugin.min.js"></script>
    <script src="~/Front/js/index.js"></script>
    <link rel="stylesheet" href="~/Front/css/jquery-ui.css">
    <link rel="stylesheet" href="~/Front/css/prism.css">
    <link rel="stylesheet" href="~/Front/css/style.css">
</head>


<body>

    <div class="c-header clearfix">
        <a class="c-logo" href="http://notebook.airuxu.cn/">Notebook</a>
        <div class="c-nav">
            <ul class="clearfix">
                <li class="on"><a href="http://notebook.airuxu.cn/">Notebook</a></li>
                <li><a href="https://github.com/wbflike" target="_blank">Github</a></li>
                <!-- <li><a href="http://blog.airuxu.cn/" target="_blank">Blog</a></li>
                <li><a href="http://candy-lab.com/" target="_blank">CandyLab</a></li> -->
            </ul>
        </div>
        <a class="c-fork" href="https://github.com/wbflike/windysong.notebook" target="_blank">+ Fork</a>
    </div>

    <div class="c-sidebar">
        <div class="c-sidebar-list">
            <ul>
                @for (int i = 0; i < Model.ListTab.Count; i++)
                {
                    if (i == 0)
                    {

                        <li><a href="" name="nt-cat-css">@Html.Raw(Model.ListTab[i].TabName)</a></li><!--通过顺序控制 class="c-tab" -->
                    }
                    else
                    {

                        <li><a href="">@Html.Raw(Model.ListTab[i].TabName)</a></li>
                    }
                }
            </ul>
        </div>
        <div class="c-sidebar-footer">
            <p class="u-link">
                <a href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=mq6jr6Ovqq6vrtrr67T59fc" target="_blank"><img src="~/Front/image/common/email.png" width="12px" alt="bf.w的电子邮件" title="Email to me"></a>
                <!--<a class="u-twitter" href="https://www.twitter.com/yuanzi0512" target="_blank"><img src="~/Front/image/common/twitter.png" width="12px" alt="iruxu's Twitter'" title="Twitter"></a> -->
                <a href="https://weibo.com/wbflike" target="_blank"><img src="~/Front/image/common/sina.png" width="12px" alt="bf.w的微博" title="Weibo"></a>
            </p>
            <p>
                <span class="u-copyright">&copy;@System.DateTime.Now.Year <a href="http://www.airuxu.cn">airuxu.cn</a></span>
            </p>
            <p>
                <span class="u-copyright">前端来源 <a href="http://www.iruxu.com">源子</a></span>
            </p>
            <span class="u-copyright">滇ICP备17003655号-1</span>
        </div>
        <i class="u-folder" id="c-sidebar-folder"></i>
    </div>
    <div id="main" class="c-main">
        @foreach (var t in Model.ListTab)
        {
            //一个页卡
            <div id="@t.TabName" class="c-tab">
                @foreach (var c in t.ListCol)
                {
                    @*<!-- 一竖列 -->
                        <!-- 一竖列里可能有多个分类 -->*@
                    <div class="u-col">
                        @foreach (var b in c.ListBlock)
                        {
                            //一级分类
                            <div class="u-block">
                                @*H3是黑色的标题头*@
                                <h3>@b.BlockName<span>-</span></h3>
                                @foreach (var l in b.ListList)
                                {
                                    <div class="u-list">
                                        @*H4+UL是二级分类
                                        H4是浅色的标题头*@
                                        <h4>[<span>-</span>] @l.ListName</h4>
                                        <ul>
                                            @foreach (var api in l.ApiList)
                                            {
                                                <li>
                                                    <a href="">@api.ApiName</a> @Html.Raw(api.ApiParameter)
                                                    <span>
                                                        @Html.Raw(api.ApiDescription)
                                                    </span>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                }
                            </div>
                        }
                    </div>
                }
            </div>
        }
    </div>
    <div class="c-snippet" id="snippet">
        <h6 class="u-title" id="box-title">bf.w's Snippet Box</h6>
        <span class="u-close" id="closebox">×</span>
        <div class="m-box" id="box">
            <!-- some snippet will be show-->
        </div>
    </div>

</body>
</html>