@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@model WindySong.NoteBook.App.ViewModels.Admin.LoginModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>@ViewData["siteName"] - 后台登录</title>
    <meta name="keywords" content="@ViewData["siteKeyWords"]">
    <meta name="description" content="@ViewData["siteDescription"]">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/font-awesome.css?v=4.4.0" rel="stylesheet">
    <link href="/css/animate.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/login.css" rel="stylesheet">
    <link href="/css/font.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->
    <script>
        if (window.top !== window.self) {
            window.top.location = window.location;
        }
    </script>
</head>
<body class="signin">
    <div class="signinpanel">
        <div class="row">
            <div class="col-sm-7">
                <div class="signin-info">
                    <div class="logopanel m-b">
                        <h1>孤灯寒照雨，深竹暗浮烟。 </h1>
                    </div>
                    <div class="m-b"></div>

                </div>
            </div>
            <div class="col-sm-5">
                <!--使用了asp-controller asp-action 标签 前端就会自动生成Token-->
                <form id="loginForm" method="post" asp-controller="Login" asp-action="Index">
                    <h4 class="no-margins">登录：</h4>
                    <div class="form-group"><!--使用form-group包裹表单，才能正确的显示前端验证提示信息-->
                        <input type="text" class="form-control uname" placeholder="用户名" asp-for="name" />
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control pword m-b" placeholder="密码" asp-for="password" />
                    </div>
                    <button class="btn btn-success btn-block" type="submit">登录</button>
                    <br />
                    <song class="text-warning">@Html.Raw(ViewData["formError"]) </song>
                </form>
            </div>
        </div>
        <div class="signup-footer">
            <div class="pull-left">
                &copy; @System.DateTime.Now.Year All Rights Reserved.
            </div>
        </div>
    </div>

    <!-- 全局js -->
    <script src="js/jquery.min.js?v=2.1.4"></script>
    <script src="js/bootstrap.min.js?v=3.3.6"></script>

    <!-- jQuery Validation plugin javascript-->
    <script src="js/plugins/validate/jquery.validate.min.js"></script>
    <script src="js/plugins/validate/messages_zh.min.js"></script>
    <script>
        $.validator.setDefaults({
            highlight: function (element) {
                $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
            },
            success: function (element) {
                element.closest('.form-group').removeClass('has-error').addClass('has-success');
            },
            errorElement: "span",
            errorPlacement: function (error, element) {
                if (element.is(":radio") || element.is(":checkbox")) {
                    error.appendTo(element.parent().parent().parent());
                } else {
                    error.appendTo(element.parent());
                }
            },
            errorClass: "help-block m-b-none",
            validClass: "help-block m-b-none"


        });

        // validate signup form on keyup and submit
        var icon = "<i class='fa fa-times-circle'></i> ";
        $("#loginForm").validate({
            rules: {
                name: {
                    required: true,
                    minlength: 3,
                    maxlength: 10
                },
                password: {
                    required: true,
                    minlength: 6,
                    maxlength: 16
                }
            },
            messages: {
                name: {
                    required: icon + "请输入您的用户名",
                    minlength: icon + "用户名必须3个字符以上",
                    maxlength: icon + "用户名必须10个字符以下"
                },
                password: {
                    required: icon + "请输入您的密码",
                    minlength: icon + "密码必须6个字符以上",
                    maxlength: icon + "密码必须16个字符以下"
                }
            }
        });
    </script>

</body>
</html>
